node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids/
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

dist/
build/
out/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

*.tsbuildinfo

.npm/

.eslintcache

.stylelintcache

.cache/

TODO.md